{$UPNGO_HOSTNAME} {
    rewrite {
        regexp .*
        to {path} /
    }
    log stdout
    errors stderr
}

{$UPNGO_HOSTNAME}/files {
    proxy / upngo:8080/files/ {
        transparent
    }
    log stdout
    errors stderr
}
